AUTH0_RS256_PUBLIC_KEY="-----BEGIN CERTIFICATE-----
MIIC9zCCAd+gAwIBAgIJf5OTO6hNnWkGMA0GCSqGSIb3DQEBCwUAMBkxFzAVBgNV
BAMTDmdjYWEuYXV0aDAuY29tMB4XDTIwMDMwNDA3MTI1M1oXDTMzMTExMTA3MTI1
M1owGTEXMBUGA1UEAxMOZ2NhYS5hdXRoMC5jb20wggEiMA0GCSqGSIb3DQEBAQUA
A4IBDwAwggEKAoIBAQDL8UTArmrHX0ASMIKQBh1zukS2wgsptyZkHI+/PPdiakhj
4JcbYX02Hm5GduNXK03NdDqaChagzltFUjcBesM5oFMNyw4PMiuXLzgEMXHsLE7a
14gAhthYuX/8MrllY++VKOCAHPbEv2NIRynQYSoK6Ye43U55IbqRtXELaiyKErKT
27aokoNm+APafJOTde2IFVPLP1smieUCAYcqkGNdQvZH2toZz3MGo+FemQJnhj3t
HraQW9dPmeMbjJGid/9HfaMSnz3QPTKlXw8ZHXKiVKmaL6o4kt20fvV6Zdrj0DBa
B8yyBFcjXudKPTn2kmJUptUc0o54TkrMtrYE9ApDAgMBAAGjQjBAMA8GA1UdEwEB
/wQFMAMBAf8wHQYDVR0OBBYEFAd/RqjJK7fQiJg4NYyo5/++GPVnMA4GA1UdDwEB
/wQEAwIChDANBgkqhkiG9w0BAQsFAAOCAQEAxtFAyN2Qmp53JpLYvz81VHImSKK3
gI4td9QEGlkCnpAywk5NaE9wecgBnBzGCt0ik/4O2cbr6/sdst74V5KJFmmwzx0t
38fEC7gS7H5PHJs9tK5tby8za6XXtCXUmf6Ki5bhytQ01tmKpOGzpdNvtscMMd+9
7FeyJEz9QwRIG3TqT0qOkVUWg/ycwaJvgSXge6jC0ZNZmBTrfVoSOuqhVdLAj/zK
6VdE4yv0eSKN6DSQstJDp13yityEzMkdSkjiBwDesCdiA6hxZ7Ebn/JBUs+KacQT
qhw+o7VlbeU0oq+ivCNMo5Bw4cMR9BJ+sbV3M151hCrmx84OicaIJt8ngQ==
-----END CERTIFICATE-----"

AUTH0_CLIENT_ID=vZLLnzOlklAmwAThJd5cdEHPWOeuRdOl
AUTH0_SECRET=D3otXOFjswMZzkfof0hlUJ7lM3krDWOjl_2rO-LCrpJ_hPJ1_hBerO0cRvUBJQpN
AUTH0_SUBDOMAIN=gcaa

